

/*=====================
footer section
=====================*/	

footer{
	padding: 5rem 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;
	background: #F5F5F7;
	color: var(--almost-black);
}

.made-by-tk a{
	text-decoration: underline;
	color: black;
}

.explain-made{
	font-size: 14px;
}

.footer-content{
	gap: 70px;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer-content a{
	color: var(--almost-black);
	text-decoration: none;
	font-size: 13px;
}

.footer-content a:hover{
	text-decoration: underline;
}

.footer-content h3{
	font-size: 14px;
	color: (black);
}

.footer-content > div{
	display: flex;
	justify-content: center;
	align-items: start;
	text-align: start;
	flex-direction: column;
}

.footer-content ul{
	list-style-type: none;
}

.sep-footer-wrapper{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.sep-footer{
	height: 1px;
	width: 100%;
	background: rgba(0, 0, 0, 0.20);
}

.footer-links{
	margin-top: 3rem;
	gap: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer-links a {
	display: inline-block;
	width: 40px; /* Width of the icon container */
	height: 40px; /* Height of the icon container */
	transition: all .2s ease-in-out;
}


.footer-links a:hover{
	transform: translateY(-2px);
}

.goodbye-text{
	margin-top: 2rem;
	color: #909095;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
}

@media(max-width:50em){


	.footer-content > div{
		margin: 0 20%;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.footer-content a{
		text-align: center;
	}
	
	.footer-content{
		gap: 10px;
	}

}

