html, body{
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	width: 100%;
}

body{
	height: 100vh;
	background-color: var(--almost-white);
}

.container {
	--max-width: 1215px;
	--padding: 1rem;
  
	width: min(var(--max-width), 100% - (var(--padding) * 1.2));
	margin-inline: auto;
  }

/* <================ HEADER =================>*/

.background-nav{
	display:none;
}

header{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	font-size: var(--fs-300);
	color: var(--almost-black);
}

.logo-container img {
	height: 100%;
	max-height: 20px;
	margin-right: 10px;
}

.logo-container{
	align-items: center;
	justify-content: space-between;
	display: flex;
	margin-left: 5%;
}

nav{
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a img{
	padding-top: 2px;
	margin-left: 7px;
	height: 10px;
	width: auto;
}

nav a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-left: 60px;
	color: var(--almost-black);
}

nav a:hover{
	color: black;
}

header .site-title{
	font-size: var(--fs-300);
}


/*hamburger nav bar*/

.menu-icon {
	cursor: pointer;
	width: 17px; /* Largeur de l'icône */
	height: 20px; /* Hauteur de l'icône */
	position: relative;
	display: none;
}

.menu-bar {
	width: 100%;
	height: 3px;
	position: relative;
	background-color: transparent;
	transition: transform 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	border-radius: 1px;
	top: 50%;
	transform: translateY(-50%);
  }

  .menu-bar::before,
  .menu-bar::after {
	border-radius: 0.5px;
	content: '';
	position: absolute;
	width: 100%;
	height: 1.5px;
	background-color: black;
	transition: all 0.3s ease;
  }
  
  .menu-bar::before {
	transform: translateY(-4px);
  }
  
  .menu-bar::after {
	transform: translateY(4px);
  }
  
  .menu-icon.active .menu-bar {
	background-color: transparent; /* Cache la barre du milieu */
  }
  
  .menu-icon.active .menu-bar::before {
	transform: translateY(0) rotate(45deg);
  }
  
  .menu-icon.active .menu-bar::after {
	transform: translateY(0) rotate(-45deg);
  }
  
  

/* <================ Landing page =================>*/

.main-title{
	/*color: var(--blue-apple-text);*/
	letter-spacing: 1.5px;
}

.main-content{
	margin-top: var(--size-1000);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
}

.maintitle{
	color: var(--almost-black);
	font-size: var(--fs-1000);
	line-height: calc(var(--fs-1000) * 1.1);
	text-align: center;
	position: relative;
}


.maintitle::after{
	content: url('../images/forfree.png');
	position:absolute; /*or absolute*/
	right:-50px;
	top:100px;
}

@media (max-width: 1040px) {	
	.maintitle::after{
		right: 0;
		top: 120px;
	}

}

@media (max-width: 930px) {	
	.maintitle::after{
		display: none;
	}

}


.salary-input-container{
	background: var(--light-grey-transparent);
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	margin-top: var(--size-400);
	cursor: pointer;
	padding: 0.4rem 0.3rem 0.4rem 1.5rem;
	font-size: var(--fs-500);
	border-radius: var(--fs-300); /* Ajustez en fonction de votre maquette */
	width: min(500px, 80%);
	/*max-width: 730px;*/
}

.salary-input-container input {
	all:unset;
	width: 100%;
	color: var(--almost-black);
	font-size: var(--fs-625);
	font-weight: 500;
	overflow-x: visible;
}

.salary-input-container.focused {
    outline: 2px solid #007AFF80;
}

.salary-input-container.wrong-input {
    outline: 2px solid #ff000080;
}

.salary-input-container input::placeholder {
	color: rgba(60, 60, 67, 0.60);
}


.salary-input-container button {
	padding: 0.9em 3em;
	color: #fff; /* Ajustez en fonction de votre maquette */
	border: none;
	border-radius: var(--fs-200); /* Ajustez en fonction de votre maquette */
	background-color: black;
	cursor: pointer;
	transition: all .2s;
}

.salary-input-container button:hover {
	background-color: var(--almost-black); /* Ajustez en fonction de votre maquette */
}


/*===================================*/
/*currency toggle switch*/
/*===================================*/

.switch {
	margin-top: var(--size-800);
	position: relative;
	display: flex;
    align-items: center; /* Alignement vertical des éléments du switch */
	width: 82px;
	height: 32px;
	font-size: var(--fs-500);
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--light-grey-transparent);
-webkit-transition: .4s;
transition: .4s;
}

.currency-symbol {
    margin: 0 var(--fs-500); /* Ajustez l'espacement autour des symboles de monnaie */
	color: var(--almost-black);
}

.slider:before{
box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px 0px rgba(0, 0, 0, 0.04);
content: "$";
display: flex;
align-items: center;
justify-content: center;
position: absolute;
height: 26px;
width: 42px;
left: 3px;
bottom: 3px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider:before {
content: "€";
-webkit-transform: translateX(33px);
-ms-transform: translateX(33px);
transform: translateX(33px);
}

.slider.round {
border-radius: 10px;
}

.slider.round:before {
border-radius: 8px;
}



 /*<========== GRADIENT ================>*/

.gradient{
	z-index: -2;
	position: fixed;
	bottom: 0;
	left: 0;
}

.gradient img{
	width: 100vw;
}

/*===================================*/
/*badge section*/
/*===================================*/

.badge-wrapper{
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 2.5rem;
	flex-wrap: wrap;
}

.badge-wrapper img{
	height: 30px;
}


@media (max-width: 50em) {
	.badge-wrapper{
		display: none;
	}
}



/*===================================*/
/*images celibrities*/
/*===================================*/

.all-stars {
	--height-div: 200px; /* Variable pour faciliter les ajustements */
	position: fixed; /* Fixe la div au viewport */
	bottom: 0; /* Colle la div au bas de la fenêtre */
	left: 50%; /* Alignement à gauche pour commencer depuis le bord gauche */
	height: var(--height-div); /* Hauteur fixée par la variable */
	z-index: -1; /* Assure que la div reste au-dessus des autres contenus */
	width: min(1500px, 100vw);
	transform: translateX(-50%);
}

.all-stars img {
	position: absolute;
	bottom: 0; /* Aligner les images en bas */
	height: 130%; /* Hauteur fixe pour les images, ajustez selon vos besoins */
	width: auto; /* Maintient l'aspect ratio des images */
  }
  
.all-stars img:nth-of-type(1) {
	left: -5%;
	height: 180%;
	bottom: -100px;
}
.all-stars img:nth-of-type(2) {
	left: 10%; 
}

.all-stars img:nth-of-type(3) {
	left: 25%; 
}

.all-stars img:nth-of-type(4) {
	left: 50%;
	transform: translateX(-55%);
}

.all-stars img:nth-of-type(5) {
	right: 25%;
	height: 170%;
	bottom: -80px;
	z-index: -1;
}

.all-stars img:nth-of-type(6) {
	right: 12%;
	height: 170%;
	bottom: -80px;
	z-index: -2;
}

.all-stars img:nth-of-type(7) {
	right: -3%;
}



/*===================================*/
/*responsive*/
/*===================================*/

@media (max-width: 70em) {	
	.all-stars img:nth-of-type(2) {
		left: 17%;
	}

	.all-stars img:nth-of-type(6) {
		right: 17%;
	}

	.all-stars img:nth-of-type(5) {
		display: none;
	}
	.all-stars img:nth-of-type(3) {
		display: none;
	}
}

@media (max-width: 39em){

	.all-stars img:nth-of-type(2) {
		height: 80%;
	}

	.all-stars img:nth-of-type(6) {
		/*display: none;*/
		height: 120%;
	}

	.all-stars img:nth-of-type(7) {
		z-index: -1;
		right: -10%;
		height: 90%;
	}

	.all-stars img:nth-of-type(1) {
		left: -20%;
		bottom: -110px;
		height: 150%;
	}

	.all-stars img:nth-of-type(4) {
		height: 80%;
	}

}

@media (max-width: 30em) {
	.all-stars img:nth-of-type(2) {
		display: none;
	}

	.all-stars img:nth-of-type(6) {
		display: none;

	}
}

@media (max-width: 50em) {	

	.main-title{
		background-size: 50%;
	}
	.menu-icon {
		display: block;
		margin-right: 7%;
		z-index: 11;
	}

	.background-nav{
		background: rgba(0, 0, 0, 0.02);
		backdrop-filter: blur(5px);
		z-index: 2;
		position: absolute;
		inset:0;
		opacity: 0;
		transition: all .3s ease-out;
	}
	
	.background-nav.active{
		display: block;
		opacity: 1;
	}

	.navbar {
		display: flex;
		width: 100vw;
		height: 200px;
		left:0px;
		z-index: 10;
		font-weight: 600;
		font-size: var(--fs-800);
		justify-content: end;
		align-items: start;
		flex-direction: column;
		position: fixed;
		opacity: 0;
  		transition: transform .3s ease-out, opacity .5s ease-out;
  		will-change: transform, opacity;
		padding-bottom: 2em;
	}

	/* Stylise le menu lorsqu'il est ouvert */
	.navbar.active {
		transform: translateY(150px);
		opacity: 1;
		background-color: var(--almost-white);
		z-index: 10;
	}

	.navbar.active a{
		margin-bottom: var(--size-400);
	}

	.navbar.active a img{
		display: none;
	}

	.navbar.active a:hover{
		color: black;
	}

	.gradient img{
		display: none;	
	}

	.main-content{
		margin-top: var(--size-1000);
	}

	.gradient{
		height: 40vh;
		width: 100%;
		background: linear-gradient(180deg, #FFF 0%, #FFBB00 100%);
	}

	.salary-input-container{
		padding-top: var(--size-400);
		height: var(--size-800);
		flex-direction: column;
		margin-top: var(--size-700);
	}
	.salary-input-container button{
		align-self: center;
		transform: translateY(var(--size-800));
		width: auto;

	}
}

/*@media (max-height: 800px) {
	.all-stars{
		display: none;
	}
}*/